@keyframes ripple
  0%
    opacity: 0
    transform: scale(0)
  33%
    opacity: 1
    transform: scale(1)
  50%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(0)

@keyframes picked
  0%
    opacity: 1
    transform: translateY(-30px) scale(1)
  100%
    opacity: .3
    transform: translateY(-45px) scale(1.08)

@keyframes droped
  0%
    opacity: 1
    transform: translateY(0) scale(1)
  100%
    opacity: .3
    transform: translateY(50px) scale(1)
